node_modules
.env
.env.local
.env.*.local
coverage
coverage.json
typechain
typechain-types
temp
.idea
.DS_Store
*.log
*.tsbuildinfo

#Hardhat files
cache
artifacts

#Next.js
.next
out

#sec notes
sec-review.md