{
  "trailingComma": "all",
  "singleQuote": true,
  "bracketSpacing": true,
  "bracketSameLine": true,
  "parser": "typescript",
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true
}
